SERVER_PORT=8080
SPRING_DATA_MONGODB_URI=mongodb://localhost:27017/hlow_chat
APP_JWT_SECRET=change-this-dev-secret-change-this-dev-secret
APP_JWT_ACCESS_EXPIRATION_MS=900000
APP_JWT_REFRESH_EXPIRATION_MS=604800000
APP_STORAGE_PROVIDER=local
APP_STORAGE_LOCAL_UPLOAD_DIR=uploads/avatars
APP_PUBLIC_BASE_URL=http://localhost:8080
PAYMENT_SERVICE_BASE_URL=http://localhost:8090
NOTIFICATION_SERVICE_BASE_URL=http://localhost:8091
EXTERNAL_API_BASE_URL=http://localhost:8092
MANAGEMENT_TRACING_SAMPLING_PROBABILITY=1.0
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces
