NODE_ENV=development
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080

SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=local
SPRING_DATA_MONGODB_URI=mongodb://root:root@localhost:27017/hlow_chat?authSource=admin
APP_JWT_SECRET=change-this-dev-secret-change-this-dev-secret
APP_JWT_ACCESS_EXPIRATION_MS=900000
APP_JWT_REFRESH_EXPIRATION_MS=604800000
